{% load static %}
<style>
    body {
        padding: 10px;
        background-image: {% static  "images/gui_plateau.png" %};
        background-repeat: no-repeat;
        background-size: 900px 400px;
        background-position: -10px 190px;
    }

    .case {
        width: 137px;
        height: 137px;
        padding-top: 20px;
        border: 2px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        text-align: center;
        float: left;
    }

    .set {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 30;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: #800000;
        background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.8), inset -2px -2px 3px rgba(0, 0, 0, .6);
        width: 80;
        height: 80px;
        float: left;
        text-align: center;
        padding-top: 20px;
        margin-left: 60px;
        margin-right: 24px;
        margin-bottom: 35px;
        margin-top: 20px;

    }

    .display {
        border: 1px solid;
        line-height: 2.5;
        font-size: 30;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: #800000;
        background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
        width: 300px;
        height: 500px;
        float: right;
        text-align: center;

    }

    .display0 {
        border: 2px;
        width: 1200px;
        height: 2px;
    }

    .display1 {
        width: 1000px;
        height: 110px;
    }

    .display2 {
        width: 900px;
        height: 308px;
    }

    .plateau1 {
        width: 900px;
        height: 200px;
    }

    .plateau2 {
        width: 900px;
        height: 175px;
    }

    .btn-group .button {
        background-color: #FFFFFF;
        border: 1px solid;
        color: #800000;
        padding: 15px 20px;
        text-align: center;

        display: inline-block;
        font-size: 12px;

        float: left;
    }

    .btn-group .button:not(:last-child) {
        /* Prevent double borders */
    }

    .btn-group .button:hover {

    }
</style>
<div class="display0">
    <div id="dis1" class="display">IAs disponibles</br>
        <div class="btn-group">


        </div>
        </br>________________________________ <font size="5" face="Verdana"> IA</br>
            <span id="01"></span></br>
            X </br>
            <span id="02"></span> </br>
            Human</br>
        </font>
    </div>
</div>
<div class="display1">
    <div id="d1" class="set" case="0">4</div>
    <div id="d2" class="set" case="1">4</div>
    <div id="d3" class="set" case="2">4</div>
    <div id="d4" class="set" case="3">4</div>
    <div id="d5" class="set" case="4">4</div>
    <div id="d6" class="set" case="5">4</div>

</div>
<div id="plateau1" class="plateau1">
    <div id="a1" class="case"><img id='p1' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a2" class="case"><img id='p2' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a3" class="case"><img id='p3' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a4" class="case"><img id='p4' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a5" class="case"><img id='p5' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a6" class="case"><img id='p6' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
</div>
<div id="0R"></div>
<div class="plateau2">
    <div id="a7" class="case"><img id='p7' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a8" class="case "><img id='p8' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a9" class="case "><img id='p9' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a10" class="case"><img id='p10' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a11" class="case"><img id='p11' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
    <div id="a12" class="case"><img id='p12' src="{% static "images/gui_graine4.png" %}" width="120" height="120"></div>
</div>


<div id="d7" class="set" case="6">4</div>
<div id="d8" class="set" case="7">4</div>
<div id="d9" class="set" case="8">4</div>
<div id="d10" class="set" case="9">4</div>
<div id="d11" class="set" case="10">4</div>
<div id="d12" class="set" case="11">4</div>