{% extends 'base_generic.html' %}

{% block content %}

    <style>
        .form-signin input[type='email'] {
            margin-bottom: 10px;
        }

        .form-signin input[type='text'] {
            margin-bottom: 10px;
        }

        .form-signin input[type='password'] {
            margin-bottom: -1px;
        }

        .h3 {
            text-align: center;
        }

        .form-signin label {
            color: grey;
            margin-right: 20px;
        }
    </style>
    <form class="form-signin" method="post">{% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Adresse mail" required
               autofocus>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Nom d'utilisateur"
               required>
        <input type="password" name="password1" id="inputPassword" class="form-control" placeholder="Mot de passe"
               required>
        <input type="password" name="password2" id="inputPassword" class="form-control" placeholder="Confirmer mot de passe"
               required>
        <div class="form-group mt-5">
            <label for="skill_level" class="col-sm-2 col-form-label">Niveau</label>
            <select class="form-control" id="skillLevel">
                <option value="1">Nouveau à l'awalé</option>
                <option value="2">Débutant</option>
                <option value="3">Intermédiaire</option>
                <option value="4">Avancé</option>
                <option value="5">Expert</option>
            </select>
        </div>
        {% for field in registration_form %}
            <p>
                {% for error in field.errors %}
                    <p style="color:red;">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        {% if refistration_form.non_field_errors %}
            <div style="color:red;">
                <p>{{ login_form.non_field_errors }}</p>
            </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Créer un compte</button>
    </form>

{% endblock %}