{% extends "../base_generic.html" %}

{% block content %}
    <p><strong><h2> Règles du jeu </h2></strong></p>


    <p><strong> En réalité, il n’existe pas un mais des Awalés, qui portent chacun leur spécificité locale, selon la
        région d’où elles proviennent. Ici, ce site vous propose de tester la version dite “Abapa”, principalement jouée
        en Côte d’Ivoire et au Ghana. </strong></p>

    <p>L’Awalé est un jeu de stratégie appartenant à la famille de jeux de semaille se jouant en joueur contre joueur,
        au tour à tour. Le plateau se présente initialement sous la forme ci-dessous :</p>
    {%  load static %}
    <img src={% static "images/plateau.png"%}>

    <p> <h3> Commencement </h3> </p>

    <p> Le plateau est divisé en deux parties (une par joueur) de six trous chacune. Chaque trou contient au départ
        quatre graines, pour un total de 48 graines. On tire au sort le joueur qui commencera à semer les graines. Le
        joueur tiré au sort - appelons-le joueur 1- se saisit alors des 4 graines du trou de son choix, à condition que
        le trou soit de son côté. Ensuite, il les essemera dans les trous suivant le trou de départ en suivant le sens
        antihoraire, à raison d’une graine par trou. Si le nombre de graines à semer est tel que le semage fasse un tour
        complet ou plus, il ne faut pas distribuer de graines dans le trou de départ ! Puis, une fois que la semaille
        est terminée, c’est au tour du joueur 2. Et ainsi de suite. </p>

    <p> <h3> Principe de la récolte et fin du jeu </h3> </p>

    <p> Au fur et à mesure du jeu, la distribution de graines dans les trous peut devenir de plus en plus hétérogène.
        Certains trous vont être bien remplis, avec 6 graines ou plus, tandis que d’autres vont ne posséder qu’une
        graine ou deux. Ce sont ces trous pauvres en graines qui sont cruciaux pour la récolte. En effet, si la semaille
        du joueur x est telle qu’après semaille, le dernier trou ayant été rempli contient 2 ou 3 graines et que ce trou
        soit du côté de l’adversaire, alors le joueur x récolte toutes les n graines de ce trou et marque ainsi n
        points. </p>

    <p> Le jeu est terminé lorsqu’un joueur parvient à récolter 25 graines, c’est-à-dire qu’il est sûr de récolter
        strictement plus de graines que l’autre joueur. </p>

    <p> <h3> Particularité : la récolte en chaîne </h3> <p>
    <p> La récolte décrite ci-dessus est le cas le plus basique qui puisse arriver. Une règle permet de récolter un
        nombre de graines important en un seul coup. Pour mieux le comprendre, considérons le tableau ci-dessous,
        représentant le plateau après un coup du joueur 1, qui a semé sa dernière graine dans la cinquième case en
        partant de la gauche de la partie inférieure du tableau. Les X sont des nombres sans importance, Y est un nombre
        différent de 2 ou 3. </p>
     {%  load static %}
    <img src={% static "images/tableau.png"%}/>
    <p> Dans ce cas-là, ce ne sont pas seulement deux graines que le joueur 1 va ramasser, mais 2 + 2 + 3 + 2 = 9
        graines ! En effet, une règle de la chaîne s’applique et tant que le nombre de graines vaut 2 ou 3 dans le sens
        horaire à partir du dernier trou semé et que ce trou est chez l’adversaire, on peut récolter dans les trous
        précédents également. Ces configurations sont donc particulièrement efficaces et permettent de renverser
        complètement le cours d’une partie. </p>

    <p> <h3> Interdiction d’affamer son adversaire </h3> </p>

    <p> Il est obligatoire que l’adversaire puisse jouer un coup après notre propre coup. Cela veut donc dire qu’il faut
        toujours qu’il y ait au moins une graine chez l’adversaire après notre coup (et après notre récolte de graines
        si nécessaire) : il ne faut pas affamer notre adversaire. </p>

    <p> Il est permis d’affamer notre adversaire seulement si c’est le seul coup possible (incapacité de jouer un coup
        qui n’affame pas l’adversaire). Dans le cas où un joueur ne peut pas jouer (car il a aucune graine de son côté),
        son adversaire récolte toutes les graines restantes sur l’Awalé. </p>
{% endblock %}