{% extends "../base_generic.html" %}

{% block content %}
    <p><strong><h2> Stratégies </h2></strong></p>


    <p><strong> On a vu dans l’article précédent que l’Awalé est un jeu de stratégie. Cet article présente donc les
        différentes stratégies classiques auxquelles on peut avoir recours lors d’une partie, ainsi que l’état d’esprit
        général qu’il faut avoir. </strong></p>

    <p>Tout d’abord, à l’origine, l’Awalé se joue avec l’environnement, quelqu’en soit sa nature. Il n’est pas rare de
        faire recours aux coups de bluff, intrigues voire insultes (!) pour déstabiliser l’adversaire. Il faut avoir
        aussi à l’esprit la présence d’un public bruyant,, pouvant recommander un coup donné. Avant de passer aux
        stratégies possibles, choisissons cette représentation d’un plateau d’Awalé, avec les cases numérotées comme
        ci-dessous : </p>
    <img src="orientation.png">

    <p> <h3> Stratégies d'ouverture</h3> </p>

    <p>Maintenant, commençons à parler stratégies d’ouverture, pour le joueur Sud. Les numéros ci-dessous indiquent la
        chronologie des trous joués depuis le début.</p>

    <ul>
        <li>5-4-3-1: fait de 6 la case d’accumulation et de 2 la case de blocage. Une plus grande mobilité gérée par les
            autres cases, mais plus d’exposition à l’adversaire.
        </li>
        <li>6-4-2: fait de 5 la case d’accumulation et de 1 et 3 les cases de blocage. Moins d’exposition mais moins de
            mobilité.
        </li>
        <li>5-3-1: variante du 6-4-2 décalée vers la droite.</li>
        <li>2-1-5-4: les deux premiers coups donnent plus de mobilité. Il n’y a pas de case de blocage et la case
            d’accumulation est la 6.
        </li>
    </ul>

    <p> Ce qui est très souvent recommandé, c’est de commencer par la case 6. En effet, aux premiers coups, cette case
        ne sera que difficilement accessible pour l’autre joueur. C’est le choix de nombreux grands maîtres de l’Awalé.
        Il est aussi recommandé de ne pas ouvrir plus de 2 cases d’affilée, afin de ne pas s’exposer (2 est un bon
        compromis pour gagner de la mobilité à condition de ne pas s’exposer) </p>

    <p> <h3> Tactiques offensives </h3> </p>

    <p> <h4> Menaces simples et multiples </h4> </p>

    <p> Dans la première image ci-dessous, S menace clairement N grâce à sa case 6 qui peut manger la case 2 de N. Dans
        la deuxième image, S menace N par 6 et par sa case 1 également. </p>

    <img src="menaces.png">

    <p> <h4> Krou </h4> </p>

    <p> Le krou consiste à accumuler des graines dans une case de son côté jusqu’à ce qu’elle atteigne un nombre
        supérieur à 12 qui va ainsi réaliser plus d’un tour complet (sans repasser par la case départ). Ainsi, cela va
        créer dans des cases vides avant le coup des lots de 2 graines si elles sont visitées deux fois. Là, S va gagner
        3 + 2 + 3 = 8 graines d’un coup grâce à sa case 5 contenant 15 graines. </p>

    <img src="krou.png">

    <p> <h4> Appât </h4> </p>

    <p> Là, le joueur N croit faire un bon coup en jouant sa case 4 contenant 3 graines, qui va lui permettre de
        récolter 2 + 1 = 3 graines. Or, après, le joueur S peut récolter grâce à sa case 5 2 + 3 + 2 = 7 graines d’un
        coup ! </p>

    <img src="appat.png">

    <p> <h4> Exemple de piège simple : la configuration 3-0-1 </h4> </p>

    <p> S’il reste peu de graines sur le plateau, il est possible de tendre des pièges, comme celui présenté ci-dessous.
        Le joueur S parvient à récolter deux graines en ne laissant plus le choix au joueur N. </p>

    <img src="piege_simple.png">

    <p> <h4> Exemple de piège fatal : la configuration 2-2-1 </h4> </p>

    <p> Ici, quel que soit le coup du joueur N, la situation ne sera favorable qu’au joueur S. </p>

    <img src="piege_fatal.png">

    <p> Quelques stratégies supplémentaires sont possibles. </p>

    <p> <h4> Surcharge de la case menaçante </h4> </p>

    <img src="case_menaçante.png">

    <p> <h4> Contre-attaque </h4> </p>

    <img src="contre_attaque.png">

    <p> <h3> Astuces diverses </h3> </p>

    <ul>
        <li> Déterminer si une case est menaçante ou menacée : Repérer les cases contenant 1 ou 2 graines, puis faire un
            compte à rebours dans le sens horaire à partir de celles-ci. Si une case rencontrée au compteur i comporte i
            graines, alors elle est menaçante (du côté de l’adversaire) ou menacée (de notre côté).
            <img src="astuce.png">
            Ici, la case 1 du joueur Sud est clairement menacée par la case 5 du joueur Nord.
        </li>
        <li>Utiliser les congruences modulo 11 (exemple : le krou).</li>
        <li>Toujours avoir à l’esprit que nSud + nplateau + nNord = 48.</li>
    </ul>

    <p> <h3> Récapitulatif </h3> </p>

    3 objectifs à assurer :

    <ul>
        <li> Effectuer les tactiques offensives et défensives en trouvant le juste milieu entre repli et ouverture,
            entre stratégie et tactique.
        </li>
        <li><strong> Faire l’inventaire des cases menaçantes et des cases menacées et s’assurer du bilan positif à long
            terme de ses coups (quitte à privilégier des coups avec un minimum de 3 graines). </strong> De 2 cases
            équivalentes, une prépare mieux la prochaine attaque, défend mieux de la prochaine attaque, tend des pièges
            (l’adversaire n’a pas le temps de se défendre, car remplit des cases que vous l’aurez incité à vider, et que
            vous récolterez directement…
        </li>
        <li> Favoriser la stratégie du moindre mal</li>
    </ul>
{% endblock %}