<html>

<style>
    body {
        padding: 10px;
        background-image: url("../../core/static/images/gui_plateau.png");
        background-repeat: no-repeat;
        background-size: 1300px 600px;
        background-position: -10px 100px;
    }
</style>

<head>
    <title>Jeu</title>

    <style type="text/css">
        .case {
            width: 180px;
            height: 180px;
            padding-top: 20px;
            border: 2px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            text-align: center;
        }

        .case1 {
            position: absolute;
            top: 140;
            left: 60;
        }

        .case2 {
            position: absolute;
            top: 140;
            left: 263;
        }

        .case3 {
            position: absolute;
            top: 140;
            left: 466;
        }

        .case4 {
            position: absolute;
            top: 140;
            left: 660;
        }

        .case5 {
            position: absolute;
            top: 140;
            left: 850;
        }

        .case6 {
            position: absolute;
            top: 155;
            left: 1035;
        }

        .case7 {
            position: absolute;
            top: 430;
            left: 35;
        }

        .case8 {
            position: absolute;
            top: 430;
            left: 232;
        }

        .case9 {
            position: absolute;
            top: 430;
            left: 422;
        }

        .case10 {
            position: absolute;
            top: 430;
            left: 629;
        }

        .case11 {
            position: absolute;
            top: 430;
            left: 842;
        }

        .case12 {
            position: absolute;
            top: 430;
            left: 1052;
        }

        .set {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 30;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgba(220, 0, 0, 1);
            background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
            width: 80;
            height: 80px;
            float: left;
            text-align: center;
            padding-top: 20px;
	    margin-left:75;
	    margin-bottom:550;

        }

        .plateau {
            width: 1300px;
            height: 308px;
        }
    </style>

</head>

<body>



    <div class="plateau">

        <div id="a1" class="case case1" quantite="0" set="0"><img id='p1' src="../../core/static/images/gui_graine4.png" width="160" height="160" ></div>
        <div id="a2" class="case case2" quantite="0" set="1"><img id='p2' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a3" class="case case3" quantite="0" set="2"><img id='p3' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a4" class="case case4" quantite="0" set="3"><img id='p4' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a5" class="case case5" quantite="0" set="4"><img id='p5' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a6" class="case case6" quantite="0" set="5"><img id='p6' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a7" class="case case7" quantite="0" set="7"><img id='p7' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a8" class="case case8" quantite="0" set="8"><img id='p8' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a9" class="case case9" quantite="0" set="9"><img id='p9' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a10" class="case case10" quantite="0" set="10"><img id='p10' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a11" class="case case11" quantite="0" set="11"><img id='p11' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>
        <div id="a12" class="case case12" quantite="0"set="12"><img id='p12' src="../../core/static/images/gui_graine4.png  " width="160" height="160"></div>

        <div id="d1" class="set" case="0">4</div>
        <div id="d2" class="set" case="1">4</div>
        <div id="d3" class="set" case="2">4</div>
        <div id="d4" class="set" case="3">4</div>
        <div id="d5" class="set" case="4">4</div>
        <div id="d6" class="set" case="5">4</div>
        <div id="d7" class="set" case="6">4</div>
        <div id="d8" class="set" case="7">4</div>
        <div id="d9" class="set" case="8">4</div>
        <div id="d10" class="set" case="9">4</div>
        <div id="d11" class="set" case="10">4</div>
        <div id="d12" class="set" case="11">4</div>
	<div id="choix" class="set" case="0">0</div>

    </div>
<script type="text/javascript" src="brython.js"></script>
<script type="text/javascript" src="brython_stdlib.js">
		</script>
	</head>
	<body onload="brython()">

	</body>
    <script type="text/javascript" src=''></script>

<script type="text/python">





import time
from abc import ABC, abstractmethod
from browser import document,bind,timer


from copy import deepcopy
from random import randrange




class Test:
    """This class is meant to be the class that provides the tests between the IAs
    You shall provide the name of the two algorithms you want to get stats on"""

    def __init__(self, algo0, algo1, nb_games, data0=None, data1=None):
        self.nb_games = nb_games
        self.stat = [0, 0, 0]
        self.algo0 = algo0
        self.algo1 = algo1
        self.data0 = data0
        self.data1 = data1

    def run(self):

        #for _ in range(self.nb_games):
	self.game = Game()
	self.game.set_players(self.algo0, self.algo1, self.data0, self.data1)






class Game:
    def __init__(self, nb_seeds_end=0, GUI=False):
        self.b = Board()
        # _below this number of seeds the game stops
        self.nb_seeds_end = nb_seeds_end
        self.algos_available = ["alea", "alphabeta", "minimax", "aleaalphabeta", "alphabetabegin", "alphabetamidgame",
                                "mcts"]
        self.is_playing = 0
        self.nb_seeds_eaten = 0
        self.GUI = GUI

    def set_players(self, player0, player1, data0=None, data1=None):
        """you have to call this function to create the type of the players
        before the game starts"""
        if player0 in self.algos_available:
            self.player0 = AI(player0, self, data=data0)
        else:
            if self.GUI:
                self.player0 = HumanGUI(self)
            else:
                self.player0 = Human(self)

        if player1 in self.algos_available:
            self.player1 = AI(player1, self, data=data1)
        else:
            if self.GUI:
                self.player1 = HumanGUI(self)
            else:
                self.player1 = Human(self)

    def run_game(self,i):
        """the main function that runs the game. _we stop the loop if
        the loft of a player is 24 or more or if the number of seeds on the
        board is below nb_seeds_end."""
        if (self.nb_seeds_eaten < 48 - self.nb_seeds_end) \
                and max(self.player0.loft, self.player1.loft) <= 24 \
                and not (self.nb_seeds_eaten == 46 and self.end_game_is_blocked()):
            #time.sleep(1)

            if self.who_is_playing() == self.player0:
                pit = self.who_is_playing().play(i)
                rslt_move = self.play(pit)
            else :
                pit = self.who_is_playing().play()
                rslt_move = self.play(pit)

            if rslt_move == "END":
                self.who_is_playing().add_to_loft(48 - self.nb_seeds_eaten)
                return self.end_of_game()
            # the game stopped, the staying seeds arent touched
            elif rslt_move == "STOP":
                return self.end_of_game()
            elif rslt_move:
                print(" ")
            # print(self.b)


        return self.end_of_game()

    def allowed(self, pit, board=None, is_playing=None):

        if board is None:
            board = self.b

        else:
            print(" ")
        if is_playing is None:
            is_playing = self.is_playing
        try:
            if pit not in range(6):
                raise NotInYourSideError()  # _pit not included in [1,6]

            if board.get_pit(pit + 6 * is_playing) == 0:
                raise EmptyPitError()  # pit wanted is empty

            b1 = deepcopy(board)
            self.move(pit, board=b1, is_playing=is_playing)
            # if opponents side is not empty
            if not (b1.empty_side(1 - is_playing)):
                return True

            for move_simulated in range(6):
                # we don't want to change the original board, just to know if it's allowed
                b2 = deepcopy(board)
                #   you must have a seed in the pit you could play
                if board.get_pit(move_simulated + 6 * is_playing) != 0:
                    self.move(move_simulated, board=b2, is_playing=is_playing)
                    # there is a other move that doesnt starve the opponent

                    if not (b2.empty_side(1 - is_playing)):
                        raise StarvationError()  # so the move is not licit

            # it means the move has to be played but it ends the game
            return "END"
        except NotInYourSideError as e:
            print("e")
            return False
        except EmptyPitError as e:
            print("e")
            return False
        except StarvationError as e:
            print("e")
            return False


    def play(self, pit):
        """function to use in order to play a move on the _board
        it takes one argument : number of the pit wanted to be played"""
        if pit == "END":
            return "END"
        if pit == "STOP":
            return "STOP"
        else:
            self.move(pit)
            return True

    def move(self, pit, board=None, is_playing=None):
        """function moving the seeds on the board and
        it takes one argument : number of the last pit visited
        returns number of seeds captured"""
        if board is None:
            board = self.b
        if is_playing is None:
            is_playing = self.is_playing

        pit += 6 * is_playing
        nb_seeds = board.get_pit(pit)  # saving the number of seeds to sow
        board.set_pit(pit, 0)
        p = pit
        while nb_seeds > 0:
            p = (p + 1) % 12
            if p != pit:  # _we dont put any seeds in the starting pit
                board.add_pit(p, 1)
                nb_seeds -= 1

        # last seeds is indeed in opponents side and there is 2 or 3 seeds in the pit
        seeds_eaten = 0
        while (6 * (1 - is_playing) <= p <= 5 + 6 * (1 - is_playing)) and (2 <= board.get_pit(p) <= 3):
            seeds_eaten += board.get_pit(p)
            board.set_pit(p, 0)
            p -= 1

        # we only update the loft and the player if its a play on the real board
        # we shouldnt move the seed on the board if we force the player
        if board == self.b and is_playing == self.is_playing:
            self.who_is_playing().add_to_loft(seeds_eaten)
            self.is_playing = 1 - self.is_playing

        return seeds_eaten

    def who_is_playing(self):
        if self.is_playing == 0:
            return self.player0
        else:
            return self.player1

    def end_of_game(self):

        if self.player0.loft > self.player1.loft:  # return nb of the inner
            return self.player0
        elif self.player0.loft < self.player1.loft:
            return self.player1
        else:
            return None

    def end_game_is_blocked(self):
        if self.b.board == [1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]:
            self.player0.add_to_loft(1)
            self.player1.add_to_loft(1)
            self.b = [0] * 12
            return True
        return False


class Board:
    def __init__(self):
        self.board = [4 for i in range(12)]

    def __repr__(self):
        s = "  ====================j1=================\n"
        s += "  ||"
        for k in range(11, 5, -1):  # higher part
            if self.board[k] // 10 == 0:
                s += " " + str(self.board[k]) + "  | "
            else:  # if nb_seeds >= 10
                s += " " + str(self.board[k]) + " | "
        s += "|\n"
        s += "  =======================================\n"
        s += "  ||"
        for k in range(6):  # the lower part
            if self.board[k] // 10 == 0:
                s += " " + str(self.board[k]) + "  | "
            else:  # if nb_seeds >= 10
                s += " " + str(self.board[k]) + " | "
        s += "|\n  ====================j0================="
        return s

    def get_pit(self, k):
        return self.board[k]

    def set_pit(self, k, val):
        self.board[k] = val

    def add_pit(self, k, val):
        self.board[k] += val

    def empty_side(self, player):
        """_function looking if the side which first pit is ps is empty
        it takes one argument : ps"""
        for k in range(6 * player, 6 * player + 6):
            if self.get_pit(k) != 0:

                return False
        return True
class NotInYourSideError(Exception):
    def __init__(self):
        self.message = "You tried to play a pit that's not your side of the board !"

    def __str__(self):
        return self.message


class EmptyPitError(Exception):
    def __init__(self):
        self.message = "You tried to play an empty pit"

    def __str__(self):
        return self.message


class StarvationError(Exception):
    def __init__(self):
        self.message = "You mustn't starve your opponent"

    def __str__(self):
        return self.message

class Player(ABC):
    """Player is an abstract class which fathers IA and Human"""

    def __init__(self, game):
        self.game = game
        self.loft = 0

    @abstractmethod
    def play(self):
        pass

    def add_to_loft(self, nb):
        self.game.nb_seeds_eaten += nb
        self.loft += nb


class AI(Player):
    """docstring for player."""

    def __init__(self, algo, game, data=None):
        super().__init__(game)
        self.algo = algo

        if self.algo == "alea":
            self.algo = Alea(self.game)


    def play(self):
        return self.algo.play()


class Human(Player):
    """The CLI version of the Human player class that asks the input to the player"""
    def __init__(self, game):
        super().__init__(game)

    def play(self,i):


        while 1:
            try:
                pit = i
                if not(0 <= pit <= 5):
                    raise ValueError
                else:
                    result = self.game.allowed(pit)
                    if result:
                        #print(self.game.b)
                        return pit
                    else:
                        print("This move is not allowed")
            except ValueError:
                print("You have to enter a value between 0 and 5")





class Alea:
    def __init__(self, game):
        self.game = game

    def play(self):
        list_move = [0, 1, 2, 3, 4, 5]
        while list_move:
            move_test = list_move.pop(randrange(0, len(list_move)))
            result = self.game.allowed(move_test)
            if result:  # it is a valid move
                #print(self.game.b)
                return move_test
            if result == "END":
                return "END"
        return "END"
t=Test("human","alea",10)
t.run()

def montre1(ev):
    t.game.run_game(0)
    print("Après HUMAN :")
    print(t.game.b)
    t.game.run_game(0)
    print("Après Alea :")
    print(t.game.b)
    document["p1"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[11])+".png"
    document["d1"].text=str(t.game.b.board[11])
    document["p2"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[10])+".png"
    document["d2"].text=str(t.game.b.board[10])
    document["p3"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[9])+".png"
    document["d3"].text=str(t.game.b.board[9])
    document["p4"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[8])+".png"
    document["d4"].text=str(t.game.b.board[8])
    document["p5"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[7])+".png"
    document["d5"].text=str(t.game.b.board[7])
    document["p6"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[6])+".png"
    document["d6"].text=str(t.game.b.board[6])
    document["p7"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[0])+".png"
    document["d7"].text=str(t.game.b.board[0])
    document["p8"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[1])+".png"
    document["d8"].text=str(t.game.b.board[1])
    document["p9"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[2])+".png"
    document["d9"].text=str(t.game.b.board[2])
    document["p10"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[3])+".png"
    document["d10"].text=str(t.game.b.board[3])
    document["p11"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[4])+".png"
    document["d11"].text=str(t.game.b.board[4])
    document["p12"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[5])+".png"
    document["d12"].text=str(t.game.b.board[5])
def montre2(ev):
    t.game.run_game(1)
    print("Après HUMAN :")
    print(t.game.b)
    t.game.run_game(0)
    print("Après Alea :")
    print(t.game.b)
    document["p1"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[11])+".png"
    document["d1"].text=str(t.game.b.board[11])
    document["p2"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[10])+".png"
    document["d2"].text=str(t.game.b.board[10])
    document["p3"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[9])+".png"
    document["d3"].text=str(t.game.b.board[9])
    document["p4"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[8])+".png"
    document["d4"].text=str(t.game.b.board[8])
    document["p5"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[7])+".png"
    document["d5"].text=str(t.game.b.board[7])
    document["p6"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[6])+".png"
    document["d6"].text=str(t.game.b.board[6])
    document["p7"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[0])+".png"
    document["d7"].text=str(t.game.b.board[0])
    document["p8"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[1])+".png"
    document["d8"].text=str(t.game.b.board[1])
    document["p9"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[2])+".png"
    document["d9"].text=str(t.game.b.board[2])
    document["p10"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[3])+".png"
    document["d10"].text=str(t.game.b.board[3])
    document["p11"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[4])+".png"
    document["d11"].text=str(t.game.b.board[4])
    document["p12"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[5])+".png"
    document["d12"].text=str(t.game.b.board[5])
def montre3(ev):
    t.game.run_game(2)
    print("Après HUMAN :")
    print(t.game.b)
    t.game.run_game(0)
    print("Après Alea :")
    print(t.game.b)
    document["p1"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[11])+".png"
    document["d1"].text=str(t.game.b.board[11])
    document["p2"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[10])+".png"
    document["d2"].text=str(t.game.b.board[10])
    document["p3"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[9])+".png"
    document["d3"].text=str(t.game.b.board[9])
    document["p4"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[8])+".png"
    document["d4"].text=str(t.game.b.board[8])
    document["p5"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[7])+".png"
    document["d5"].text=str(t.game.b.board[7])
    document["p6"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[6])+".png"
    document["d6"].text=str(t.game.b.board[6])
    document["p7"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[0])+".png"
    document["d7"].text=str(t.game.b.board[0])
    document["p8"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[1])+".png"
    document["d8"].text=str(t.game.b.board[1])
    document["p9"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[2])+".png"
    document["d9"].text=str(t.game.b.board[2])
    document["p10"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[3])+".png"
    document["d10"].text=str(t.game.b.board[3])
    document["p11"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[4])+".png"
    document["d11"].text=str(t.game.b.board[4])
    document["p12"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[5])+".png"
    document["d12"].text=str(t.game.b.board[5])
def montre4(ev):
    t.game.run_game(3)
    print("Après HUMAN :")
    print(t.game.b)
    t.game.run_game(0)
    print("Après Alea :")
    print(t.game.b)
    document["p1"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[11])+".png"
    document["d1"].text=str(t.game.b.board[11])
    document["p2"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[10])+".png"
    document["d2"].text=str(t.game.b.board[10])
    document["p3"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[9])+".png"
    document["d3"].text=str(t.game.b.board[9])
    document["p4"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[8])+".png"
    document["d4"].text=str(t.game.b.board[8])
    document["p5"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[7])+".png"
    document["d5"].text=str(t.game.b.board[7])
    document["p6"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[6])+".png"
    document["d6"].text=str(t.game.b.board[6])
    document["p7"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[0])+".png"
    document["d7"].text=str(t.game.b.board[0])
    document["p8"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[1])+".png"
    document["d8"].text=str(t.game.b.board[1])
    document["p9"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[2])+".png"
    document["d9"].text=str(t.game.b.board[2])
    document["p10"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[3])+".png"
    document["d10"].text=str(t.game.b.board[3])
    document["p11"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[4])+".png"
    document["d11"].text=str(t.game.b.board[4])
    document["p12"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[5])+".png"
    document["d12"].text=str(t.game.b.board[5])
def montre5(ev):
    t.game.run_game(4)
    print("Après HUMAN :")
    print(t.game.b)
    t.game.run_game(0)
    print("Après Alea :")
    print(t.game.b)
    document["p1"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[11])+".png"
    document["d1"].text=str(t.game.b.board[11])
    document["p2"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[10])+".png"
    document["d2"].text=str(t.game.b.board[10])
    document["p3"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[9])+".png"
    document["d3"].text=str(t.game.b.board[9])
    document["p4"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[8])+".png"
    document["d4"].text=str(t.game.b.board[8])
    document["p5"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[7])+".png"
    document["d5"].text=str(t.game.b.board[7])
    document["p6"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[6])+".png"
    document["d6"].text=str(t.game.b.board[6])
    document["p7"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[0])+".png"
    document["d7"].text=str(t.game.b.board[0])
    document["p8"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[1])+".png"
    document["d8"].text=str(t.game.b.board[1])
    document["p9"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[2])+".png"
    document["d9"].text=str(t.game.b.board[2])
    document["p10"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[3])+".png"
    document["d10"].text=str(t.game.b.board[3])
    document["p11"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[4])+".png"
    document["d11"].text=str(t.game.b.board[4])
    document["p12"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[5])+".png"
    document["d12"].text=str(t.game.b.board[5])
def montre6(ev):
    t.game.run_game(5)
    print("Après HUMAN :")
    print(t.game.b)
    t.game.run_game(0)
    print("Après Alea :")
    print(t.game.b)
    document["p1"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[11])+".png"
    document["d1"].text=str(t.game.b.board[11])
    document["p2"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[10])+".png"
    document["d2"].text=str(t.game.b.board[10])
    document["p3"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[9])+".png"
    document["d3"].text=str(t.game.b.board[9])
    document["p4"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[8])+".png"
    document["d4"].text=str(t.game.b.board[8])
    document["p5"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[7])+".png"
    document["d5"].text=str(t.game.b.board[7])
    document["p6"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[6])+".png"
    document["d6"].text=str(t.game.b.board[6])
    document["p7"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[0])+".png"
    document["d7"].text=str(t.game.b.board[0])
    document["p8"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[1])+".png"
    document["d8"].text=str(t.game.b.board[1])
    document["p9"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[2])+".png"
    document["d9"].text=str(t.game.b.board[2])
    document["p10"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[3])+".png"
    document["d10"].text=str(t.game.b.board[3])
    document["p11"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[4])+".png"
    document["d11"].text=str(t.game.b.board[4])
    document["p12"].src = "../../core/static/images/gui_graine"+str(t.game.b.board[5])+".png"
    document["d12"].text=str(t.game.b.board[5])


a1 = data = document["a7"]
a1.bind("click", montre1)
a2 = data = document["a8"]
a2.bind("click", montre2)
a3 = data = document["a9"]
a3.bind("click", montre3)
a4 = data = document["a10"]
a4.bind("click", montre4)
a5 = data = document["a11"]
a5.bind("click", montre5)
a6 = data = document["a12"]
a6.bind("click", montre6)







    </script>
</body>

</html>
