{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    <style>

        #gui-display {
            display: flex;
        }

        #main-display {
            border: 1px solid #FFF;
            padding: 1em;
            border-radius: 5px;
            background-color: #FFF;
        }


        #gui-board {
            max-width: 100%;
            max-height: 100%;
            display: block;
            position: relative;
            text-align: center;
        {#background-size: cover;#}{#background: url("../../static/images/gui_plateau.png") no-repeat center;#}{#height: 900px;#}
        }

        #background-img {
            width: 100%;
            max-height: 100%;
            position: relative;
        }

        .board-row {
            justify-content: space-evenly;
            position: absolute;
            height: 50%;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }

        #top-board {
            top: 0;
        }

        #bottom-board {
            bottom: 0;
        }

        .case {
        {#border: solid 1px green;#} margin: 0.3em;
            display: flex; /* center image with flex */
            justify-content: center;
        }

        .case img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
            align-self: flex-start; /* to preserve image ratio */
        }

        #values {
            justify-content: space-evenly;
        }

        #values div {
            background-color: lightcoral;
            margin: 0.5em;
            flex-wrap: nowrap;
            padding: 0.5em 2em;
        }

        #sidebar-menu {
            background-color: #FFF;
            text-align: center;
            justify-content: space-between;
            align-items: stretch;
        }

        #top-player {
            background-color: lightgrey;
            width: 100%;
            justify-content: space-evenly;
        }

        #bottom-player {
            background-color: lightgrey;
            width: 100%;
            justify-content: space-evenly;
        }

        #results {
            height: 40%;
        }

        .enclosed-icon:hover {
            cursor: pointer;
        }

        label {
            color: grey;
        }

        .game-popup {
            background-color: #fff;
            color: #666463;
            position: absolute;
            width: 30%;
            top: 25%;
            left: 35%;
            border-radius: 3px;
            z-index: 950;
            transition: all .3s ease;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        }

        #game-settings {
            visibility: hidden;
        }

        #game-settings.show {
            visibility: visible;
        }

        #difficulty-select div li a {
            color: #fff;
            background-color: #cacac9;
            cursor: pointer;
        }

        #difficulty-select div li a:active {
            background-color: #666463;
        }

        .fa-times:hover {
            cursor: pointer;
        }

        .btn-sidebar {
            padding: 0.25em 1em;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            border-radius: 3px;
            background: #dbd9d7;
        }

        /* messages that appear*/
    </style>
    <div class="row my-5" id="gui-display">
        <div class="col-xl-8 col-xl-offset-2 h-100 d-flex flex-column" id="main-display">
            <div class="d-flex flex-row" id="values">
                <div class="set" id="d11">4</div>
                <div class="set" id="d10">4</div>
                <div class="set" id="d9">4</div>
                <div class="set" id="d8">4</div>
                <div class="set" id="d7">4</div>
                <div class="set" id="d6">4</div>
            </div>
            <div class="d-flex flex-column" id="gui-board">
                <img id="background-img" src="{% static "images/gui_plateau.png" %}"/>
                <div class="d-flex flex-row board-row" id="top-board">
                    <div id="a11" class="case"><img id='p11' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a10" class="case"><img id='p10' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a9" class="case"><img id='p9' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a8" class="case"><img id='p8' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a7" class="case"><img id='p7' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a6" class="case"><img id='p6' src="{% static "images/gui_graine4.png" %}"></div>
                </div>
                <div class="d-flex flex-row board-row" id="bottom-board">
                    <div id="a0" class="case"><img id='p0' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a1" class="case"><img id='p1' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a2" class="case"><img id='p2' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a3" class="case"><img id='p3' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a4" class="case"><img id='p4' src="{% static "images/gui_graine4.png" %}"></div>
                    <div id="a5" class="case"><img id='p5' src="{% static "images/gui_graine4.png" %}"></div>
                </div>
            </div>
            <div class="d-flex flex-row" id="values">
                <div class="set" id="d0">4</div>
                <div class="set" id="d1">4</div>
                <div class="set" id="d2">4</div>
                <div class="set" id="d3">4</div>
                <div class="set" id="d4">4</div>
                <div class="set" id="d5">4</div>
            </div>
        </div>
        <div class="col-xl-3 ml-3 d-flex flex-column px-0" id="sidebar-menu">
            <div id="top-player" class="d-flex flex-row py-2">
                <div class="enclosed-icon">
                    <i class="fas fa-user fa-3x"></i>
                </div>
                <div class="user-tagline">
                    <a href="#" class="nav-link"><h4>Joueur A</h4></a>
                </div>
            </div>
            <div id="results" class="d-flex flex-column justify-content-around">
                <div class="d-flex flex-row justify-content-around">
                    <label for="score-ai">Score joueur A</label>
                    <div id="score-ai">0</div>
                </div>
                <div>
                    <h5>vs</h5>
                </div>
                <div class="d-flex flex-row justify-content-around">
                    <label for="score-user">Score joueur B</label>
                    <div id="score-user">0</div>
                </div>
            </div>
            <div id="sidebar-options" class="pt-3" style="border-top: solid 1px lightgrey;">
                <!-- Button trigger new game menu -->
                <button type="button" class="btn-sidebar" onclick="showNewGame()">
                    Nouvelle partie
                </button>
                <!-- Button trigger settings menu -->
                <button type="button" class="btn-sidebar" onclick="showNewGame()" disabled>
                    Options
                </button>
            </div>
            <div id="bottom-player" class="d-flex flex-row py-2">
                <div class="enclosed-icon">
                    <i class="fas fa-user fa-3x"></i>
                </div>
                <div class="user-tagline">
                    <a href="#" class="nav-link"><h4>Joueur B</h4></a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/brython.js" %}"></script>
    <script type="text/javascript" src="{% static "js/brython_stdlib.js" %}"></script>
    <body onload="brython()">
    <script type="text/python" src="{% static "py/src/../../static/py/play_local.py" %}"></script>
    </body>
{% endblock %}
