<style type="text/css">
    #footer {
        background-color: #800000;
        color: rgba(255, 255, 255, 0.7);
    }

    #footer a:hover {
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
    }

    #footer div {
        margin: auto;
    }
    .footer-link {
        font-size: 0.8rem;
    }

    .footer-link:after {
        color: hsla(0, 0%, 100%, .7);
        content: " | ";
    }
</style>

<!-- footer -->
<div id="footer" class="container-fluid d-flex flex-row">
    <!-- Footer Elements -->
    <!-- Links -->
    <div class="text-center col-3 d-flex flex-row flex-wrap">
        <a class="footer-link">Aide</a>
        <a class="footer-link"> Contrat d'utilisation</a>
        <a class="footer-link"> Politique de confidentialité</a>
    </div>
    <div class="col-6 mt-3">
        <!-- Social buttons -->
        <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a class="btn">
                    <i class="fab fa-facebook fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn">
                    <i class="fab fa-twitter fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn">
                    <i class="fab fa-instagram fa-2x"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="text-center col-3" style="font-size: 0.8rem;">
        © 2020 Copyright: Projet AWAI
    </div>
    <!-- Copyright -->
</div>
<!-- End Footer -->