<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>AwAI</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static  "css/style.css" %}"/>
</head>
<body>
{#    {% include 'snippets/header.html' %} TODO #}
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-custom mb-3">

    {#            <!-- Navbar brand -->#}
    {#            <a class="navbar-brand" href="#">Menu</a>#}

    {#            <!-- Collapse button --> FOR MOBILE#}
    {#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"#}
    {#                    aria-controls="basicExampleNav"#}
    {#                    aria-expanded="false" aria-label="Toggle navigation">#}
    {#                <span class="navbar-toggler-icon"></span>#}
    {#            </button>#}

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'web:home' %}">Accueil<span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'web:game_rules' %}">Règles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'web:strategies' %}">Stratégie</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jouer
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'web:play_ai' %}">Contre l'IA</a>
                <a class="dropdown-item" href="#">Contre un autre joueur</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="https://testawai.000webhostapp.com/phpBB3/?fbclid=IwAR3qp_W7ryX-q-POH9-FNzKP0cjA62FXDoet-EcUn-1aOYZHApfJ1HyV-Yo">Forums</a>
        </li>
    </ul>
    <div class="pull-right">
        <ul class="nav navbar-nav">
            {% if request.user.is_authenticated %}
                <li>
                    <a class="nav-link" href="{% url 'accounts:profile' %}">Mon Profil</a>
                </li>
                <li>
                    <p style="color: rgba(255,255,255,0.8);margin-top:0.5em;">
                        Bonjour, {{ request.user.username }} | <a href="{% url 'accounts:logout' %}">Déconnexion</a>
                    </p>
                </li>
            {% else %}
                <li>
                    <a class="nav-link" href="{% url 'accounts:login' %}">Se connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container-fluid">
    {% block content %} Default content text {% endblock %}
</div>

{% include 'snippets/footer.html' %}
</body>
</html>
